@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InvalidInfo</title>
</head>
<body>
    <div> 
        <p>Sorry, @Model.Name, you've provided invalid information. Please recheck.</p>
    </div>
</body>
</html>
