
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello, World(from the view)!
        <!--The link below cannot work, leave it to solve in future-->
        <p>Please see the About page via this <a href="~/Views/About/Index.cshtml">About</a></p>
    </div>
</body>
</html>
