@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to the ASP.NET Web API Server Host Page</title>
</head>
<body>
    <div>
        <h1>You are welcome! ^_^</h1>
    </div>
</body>
</html>
