<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="report00.Properties.Settings.FM72_JE_TESTINGConnectionString"
            connectionString="Data Source=ZHOUKAI\SQL2008EXPRESS;Initial Catalog=FM72_JE_TESTING;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>